
/* style.css */
body {
    background-color: #fff; /* 웹배경색 */
    margin: 0; /* Body의 margin 제거 */
}

.header {
    background-color: #fff; /* 헤더 배경색 */
    padding: 10px;
}

.toggle-area {
    margin-bottom: 20px;
}

.navbar {
    background-color: #6495ED; /* 네비게이션 바 배경색 */
    justify-content: center; /* 내비게이션 바 아이템 중앙 정렬 */
}

.navbar a {
    color: #fff; /* 네비게이션 바 글자색 */
    margin: 0 10px; /* 네비게이션 바 아이템 간격 */
}

.navbar-nav {
    width: 100%; /* 네비게이션 바 내비게이션 항목들이 네비게이션 바 전체 영역을 차지하도록 설정 */
    justify-content: center; /* 내비게이션 항목들을 가운데 정렬 */
}

.navbar-nav .nav-item {
    margin-right: 0; /* 네비게이션 항목들의 우측 마진을 0으로 설정하여 간격을 없앰 */
    margin-left: 0;
}

.navbar-nav .nav-link {
    padding: .5rem 1rem; /* 네비게이션 링크들의 패딩을 조정하여 더 넓은 클릭 영역을 제공 */
    color: #fff; /* 네비게이션 바 글자색 */
    margin: 0 10px; /* 네비게이션 바 아이템 간격 */
}


/* 사이드바 스타일 */
.sidebar {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
    border-right: none; /* 오른쪽 테두리 제거 */
    border-bottom: none; /* 아래쪽 테두리 제거 */
}

.sidebar-sticky {
    padding: 20px;
}

.sidebar-sticky h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

.sidebar-sticky ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-sticky ul li a {
    color: #000;
    text-decoration: none;
}

.sidebar-sticky ul li a:hover {
    text-decoration: underline;
}


/* 추가된 스타일 */
.container {
    max-width: 960px; /* 컨테이너의 최대 너비 지정 */
    margin: 0 auto; /* 가운데 정렬 */
}

body {
    padding-top: 20px; /* 상단 여백 추가 */
    padding-bottom: 20px; /* 하단 여백 추가 */
}

.toggle-area {
    margin-bottom: 20px;
    overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
}
.footer {
    background-color: #d9d9d9; /* 푸터 회색 배경색 */
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* 푸터 상단 여백 추가 */
    justify-content: center; /* 항목들을 가운데 정렬 */
}
